<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <!--<add name="ITSDBContext" connectionString="Data Source=WS-788-PC;Initial Catalog=ITS;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient"/>--> 
   <add name="ITSDBContext" connectionString="Data Source=VSA-SAT-DB1\SQL2K14;Initial Catalog=ITS;User ID=uttam;Password=uttam;Connect Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>